/* Styles for Katalog Page */

.tm-gallery-page {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .tm-gallery-page {
        max-width: 560px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .tm-gallery-page,
    .tm-section,
    .tm-container-inner,
    .tm-container-inner-2 {
        max-width: 840px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .tm-gallery-page,
    .tm-section {
        max-width: 1120px;
    }
    .tm-container-inner {
        max-width: 1120px;
    }
    .tm-container-inner-2 {
        max-width: 900px;
    }
}

.tm-gallery-item {
    max-width: 280px;
}

.tm-gallery-title {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1A6692;
    margin-bottom: 10px;
}

.tm-gallery-description {
    margin-bottom: 20px;
}

.tm-gallery-price {
    font-size: 16px;
    color: #2F956D;
    margin-bottom: 60px;
}


/* Styles for Invoce Page */

.callout {
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout.callout-info {
    border-left-color: #117a8b;
}

.invoice {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
}

.invoice-title {
    margin-top: 0;
}


/* Styles for Order Tracking */

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', serif
}

.container {
    margin-top: 50px;
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #58df58
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #23bb23;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn-warning {
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px
}

.btn-blue {
    color: #ffffff;
    background-color: #4e73df;
    border-color: #4e73df;
    border-radius: 1px
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #359bee;
    border-color: #359bee;
    border-radius: 1px
}